<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off">
<div style="bottom:125%;left:-250%;white-space:no-wrap;text-transform:uppercase;position: absolute;width:500%;margin:0.5em 0">
    {{#if note}}
    <div style="margin:0 auto;display:inline-block;background:#222;color:#eee;padding:0.25em;border-radius:3px">
        {{note}}
    </div>
    {{/if}}
    </div>
</form>