<form>
    <h1>Aid Character</h1>

    

    {{#each characters}}
    <div class="form-group">
        <div   style="flex: 0 0 2em">
        <input type="checkbox" name="{{this.id}}" {{checked (lookup ../aid this.id)}}> 
        </div>
        <label>{{this.name}}</label>
    </div>
    {{/each}}

    <div class="form-group buttons">
        <button type="submit"><i class="fa-solid fa-check"></i> Save</button>
        <button type="reset"><i class="fa-solid fa-times"></i> Cancel</button>
    </div>
</form>