<form>

    <div class="flex-row">
        <div>escalation</div>
        <div>0</div>
        <div>
            <button type="button"> + </button>
        </div>
        <div>
            <button type="button"> - </button>
        </div>
    </div>
</form>